:root {
    --primario: #ffffff;
    --secundario: #c22f2e;
    --rojo: #c22f2e;
    --principal: #f0b52d;
    --tercero: rgb(249,225,142);
    --cuarto: #cd8d1d; 
    --azul: #1b80d8;
    --negro: #000000;
    --gris: #828282; 
    --fuentePrincipal: 'Nunito', sans-serif;
}



h1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--negro);
    font-weight: bold;
    
}
h2 {
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secundario);
    font-weight: bold;
}
h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    color: var(--negro);
    font-weight: bold;
    
}
h4 {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--gris);
    font-weight: bold;
    font-family: 'Karla', sans-serif;
    
}


/**titutlos**/
.titulo1{
    font-size: 6rem;
}

.titulo2{
    font-size: 6rem;
}

/** Header **/
.header {
    display: flex;
    justify-content: center;
    
}
.header__logo {
    margin: 1rem 0;
    
}


/** Scroll Snap**/

.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

html {
    box-sizing: border-box;
    font-size: 51.5%; 
    
    
}

*, *:before, *:after {
    box-sizing: inherit;
}


/** Globales **/
body {
    background-color: var(--primario);
    font-family: 'Krub', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    
}



p {
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    color: var(--negro);
    text-align: justify;
    
}
ul {
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    text-align: justify;
    
  /**  text-transform: uppercase;/**/
}

a {
    text-decoration: none;
    text-transform: uppercase;    

}


/** Navegacion **/
.navegacion1 {
    background-color: var(--primario);
    display: grid;
    justify-content: space-between;
    gap: 2rem;     
    
}



.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    color: var(--primario);
    font-size: 2rem;
    font-weight: bold;
    
}

.navegacion2 {
    background-color: var(--secundario);
    display: flex;
    justify-content: space-between;
    gap: 2rem;     
    height: 5rem;
    line-height: 5rem;
    
}

.navegacion3 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;     
    height: rem;
    line-height: 5rem;
    
}

/** Redes Sociales **/

.social-icons {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    display: block;
    z-index: 999;
    touch-action: manipulation;
  }
  
  .social-icons img {
    display: block;
    margin-bottom: 1vh;
    width: 12vw;
    max-width: 60px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .social-icons img:hover {
    transform: scale(1.5);
  }
  
  @media only screen and (max-width: 767px) {
    .social-icons {
      bottom: 302px;
      right: 23px;
    }
    .social-icons img {
      margin-bottom: 5px;
      width: 40px;
      max-width: 100%;
    }
  }


/*Grid Gallery*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10rem;
    
  }
  
  .grid-item {
    text-align: justify
    
  }
  
  .img-item {
    text-align: center;
    max-width: 100%;
    border-radius: 2%;
  }
  
/*imagen con movimiento*/
.imagen {
    position: relative;
    display: inline-block;
    max-width: 50%;
    height: auto;
  }
  
  .imagen:hover img {
    opacity: 0.15;
    transform: translateX(250px);
    transition: all 0.3s ease-out;
  }
  
  .imagen .texto {
    text-transform: lowercase;
    position:relative;
    top: 100%;
    left: 0;
    transform: translateY(-8%);
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 1rem;
    z-index: 2;

  }
  
  .imagen img {
    display: grid;
    float:inline-end;
    max-width: 50%;
    height: auto;
    opacity: 1;
    transition: all 0.3s ease-out;
  }
  
  .imagen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-color: #000;
    opacity: 0.4;
    z-index: 1;
  }
  




.logo2 {
    background-image: url(../img/logo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;

}


.contenido-logo2 {
    position: absolute;
    background-color: rgba( 0,0,0, .7 );
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-logo2 h2,
.contenido-logo2 p{
    color: var(--principal);
}


.contenido-logo2 .ubicacion {
    display: flex;
    align-items: flex-end;
}






@media (min-width: 768px) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        
      }
}



  
  .img-gallery {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
   
  }

  .img-login {
    width: 6%;
    height: 70%;
    
   
  }

  .gallery-item {
    margin: 0;
    padding: 5rem;
    box-shadow: 4px 4px 10px var(--gris);
    transition: filter 0.3s ease-in-out;
  }

  .gallery-item:hover {
    filter: brightness(120%);
  }
  
  .img-gallery:hover {
    transform: scale(1.3);
    
  }

  

.interactiva{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}

.interactiva figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.50);
    cursor: pointer;

}

.interactiva figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.interactiva figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.interactiva figure:hover > .capa{
    opacity: 1;
    visibility: visible;

}

.interactiva figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}

.interactiva figure:hover > img{
    transform: scale(1.3);
}
    

.interactiva figure:hover .capa h3{
    color:#fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;

}

.interactiva figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}



  

@media (min-width: 768px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0rem;
    }
}



.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}




/**Botones**/

.boton {
    background-color: var(--secundario);
    font-weight: bold;
    color: var(--primario);
    padding: 1rem 1rem;
    font-size: 1,5rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    width: auto;
    height: auto;
    
  }
  

/** Contacto **/
.formulario {
    
    width: min( 60rem, 100% ); /** Utilizar el valor más pequeño **/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--secundario);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem ;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4) {
        grid-column: 1 / 3;
    }
}
.campo {
    margin-bottom: 2rem;
}
.campo label {
    color: var(--secundario);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;

}
.campo textarea {
    height: 15rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
    
}
/*SOMBRA*/

.sombra {
    -webkit-box-shadow: -4px 3px 13px 3px rgba(89,89,89,1);
    -moz-box-shadow: -4px 3px 13px 3px rgba(89,89,89,1);
    box-shadow: -4px 3px 13px 3px rgba(89,89,89,1);
    background-image: url(../img/soacha.jpg);
    padding: 2rem;
    border-radius: 1rem;
    
    
    
}

/** Footer **/
.site-footer {
    background-color: var(--secundario);
    padding: 2rem 0;
  }
  
  .site-footer p {
    font-size: 2rem;
    text-align: center;
    margin: 0;
  }
  




